.site-header {
    padding: 12px 0;

    .container {
        max-width: $container-full;
        padding-left: 80px;
        padding-right: 80px;

        @include max-mq($lg) {
            padding-left: 20px;
            padding-right: 20px;
        }
    }

    .site-branding {
        img {
            height: 47px;

            @include max-mq($mb) {
                height: 37px;
            }
        }
    }
}
