.nav-links {
  text-align: center;
  width: 100%;
  margin-top: clamp(24px,3.513909224vw,48px);

  .page-numbers {
    border: 2px solid $teal;
    color: $black;
    display: inline-block;
    height: 30px;
    line-height: 1.7em;
    margin: 0 3px;
    min-width: 30px;
    transition: $dur $ease;

    &:hover,
    &.current {
      background-color: $teal;
      color: #fff;
    }

    &.prev,
    &.next {
      background-color: transparent;
      border: none;
      color: $black;
      height: auto;
      width: auto;
    }
  }
}